@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: auto;
    min-height: 100vh ;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background:  rgb(241, 213, 86);
    font-family: 'Concert One', cursive;
}


.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 40px;
    background-color:  rgb(241, 213, 86);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.brand{
    font-size: 3rem;
}
.menuIcon{
    margin-left: auto;
    cursor: pointer;
}

.modalMenu{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.500);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 200;
}

.closeIcon{

    color: orange;
    font-size: 2rem;
    position: absolute;
    top: 15vh;
    right: 20%;
    cursor: pointer;

}

.closeIcon:hover{
    color: orangered;
    cursor: pointer;

}

.modalMenu a{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;

}

.modalMenu a:hover{
    color: orange;
    font-size: 2.2rem;
}

.container{
    width: 100vw;
    height: auto;
    min-height: 100vh;
}

.container section{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    flex-direction: column;
    background-image: url(https://picsum.photos/seed/13/600);
    background-size: cover;
    background-attachment: fixed;
    gap: 40px;
    
}
.home_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100%;
    margin-bottom: auto;
}

.homeimage{
width: 350px;
height: 350px;
object-fit: cover;
object-position: top;
border-radius: 20px 200px 20px 200px;
border: 12px solid  rgb(241, 213, 86);
animation-name: bottomToTop;
animation-duration: 2s;
animation-iteration-count: 2;
}

.homeText{
    font-size: 5rem;
    color: rgb(241, 213, 86);
    animation-name: bottomToTop;
    animation-iteration-count: 1;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.about{
   display: grid !important;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-template-areas: 
   "box1 box2"
   "box3 box4"
   ;   
}
.box{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.about_box1{
    grid-template: box1;
    background-image: url(https://picsum.photos/seed/13/600);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 0 200px 0 200px;
}

.about_box2{
    grid-template: box2;
}

.about_box3{
    grid-template: box3;
}

.about_box4{
    grid-template: box4;
    background-image: url(https://picsum.photos/seed/13/600);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 0 200px 0 200px;
}

.showcase{
    flex-direction: column;
    justify-content: center;
    
}
.showcase_title{
    font-size: 3rem;
}

.wrapper_showcase{
    width: auto;
    height: auto;
    text-align: center;
}

.wrapper_showcase img:hover{
    transition-duration: 1s;
    border-radius: 30px;
}

.wrapper_showcase img:hover{
    border-radius: 500px;
}

.rotateIcon{
    font-size: 4rem;
    color: black;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.contact{
    background-image: url(https://picsum.photos/seed/13/900);
    background-size: cover;
    background-attachment: fixed;
}

.alertabout{
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:  rgb(241, 213, 86);
    position: sticky;
    top: 10vh;
    z-index: 80;
    margin-bottom: ;
}


@keyframes bottomToTop{
    from{
    transform: translateY(20vh);
    opacity: 0;
    }
    to{
        transform: translateY(0vh);
        opacity: 1;
    }

}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}